.request-card {
    background-color: #6280ff;
    color: white;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    min-height: 150px;
}

.card {
    border-radius: 20px;
    min-height: 200px;
}