.request-card {
    background-color: #ff6358;
    color: white;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    min-height: 250px;
}

.card {
    border-radius: 20px;
    min-height: 250px;
}