<app-header-old></app-header-old>
<div class="container" style="margin-top: 70px;" *ngIf="!componentLoading;else componentLoader">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <kendo-tilelayout [columns]="4" [rowHeight]="275" [resizable]="false" [reorderable]="false">
        <kendo-tilelayout-item pTooltip="Addresses" [col]="1" [colSpan]="3" [rowSpan]="2"
            style="border: none; background-color: transparent;">
            <kendo-tilelayout-item-body>
                <div class="row" style="height: 100%; overflow-y: auto;">
                    <div class="col-lg-4 col-md-12 col-sm-12 k-cursor-pointer mt-2" (click)="displayAddAddress=true">
                        <div class="address-add-card shadow-lg px-4 py-3 d-grid justify-content-center"
                        pTooltip="Add address">
                            <div class="pi pi-plus-circle fw-bolder align-self-center"
                                style="font-size: 75px; color: #6280ff;"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 k-cursor-pointer mt-2" pTooltip="Select address"
                        *ngFor="let address of addresses">
                        <div class="address-card px-4 py-3" (click)="setAddress(address)"
                            [class]="address == selectedAddress ? 'address-bg-active' : 'address-bg'">
                            <div>
                                <a class="pi pi-times k-float-right fw-bolder"
                                    [class]="address == selectedAddress ? 'address-close-active' : 'address-close'"
                                    (click)="confirmDelete(address)"></a>
                            </div>
                            <h6 [class]="address == selectedAddress ? 'address-heading-active' : 'address-heading'">
                                Street :
                            </h6>
                            <h5 class="fw-normal overflow-hidden" style="height: 40px;">
                                {{ address.addressStreetName }}
                            </h5>
                            <h6 [class]="address == selectedAddress ? 'address-heading-active' : 'address-heading'">
                                City :
                            </h6>
                            <h5 class="fw-normal overflow-hidden" style="height: 40px;">
                                {{ address.addressCity }}
                            </h5>
                            <h6 [class]="address == selectedAddress ? 'address-heading-active' : 'address-heading'">
                                State :
                            </h6>
                            <h5 class="fw-normal overflow-hidden" style="height: 40px;">
                                {{ address.addressState }}
                            </h5>
                            <h6 [class]="address == selectedAddress ? 'address-heading-active' : 'address-heading'">
                                Country :
                            </h6>
                            <h5 class="fw-normal overflow-hidden" style="height: 40px;">
                                {{ address.addressCountry }}
                            </h5>
                            <h6 [class]="address == selectedAddress ? 'address-heading-active' : 'address-heading'">
                                Pincode :
                            </h6>
                            <h5 class="fw-normal overflow-hidden" style="height: 40px;">
                                {{ address.addressPincode }}
                            </h5>
                            <!-- <button pButton pRipple class="gasb-bg-primary w-100 mt-3" label="Select"
                                (click)="selectedAddress=address"></button> -->
                        </div>
                    </div>
                </div>
            </kendo-tilelayout-item-body>
        </kendo-tilelayout-item>
        <kendo-tilelayout-item pTooltip="Order Summary" [col]="4" [rowSpan]="2" class="shadow">
            <kendo-tilelayout-item-body>
                <div class="row py-2 px-2">
                    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                        <h6 class="address-heading">
                            Product name:
                        </h6>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
                        <h5 class="fw-normal">
                            {{selectedProduct.productCategory.productName}}
                        </h5>
                    </div>


                    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                        <h6 class="address-heading">
                            Product weight:
                        </h6>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
                        <h5 class="fw-normal">
                            {{selectedProduct.productCategory.productWeight}}
                        </h5>
                    </div>


                    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                        <h6 class="address-heading">
                            Product price:
                        </h6>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
                        <h5 class="fw-normal">
                            {{selectedProduct.productCategory.productPrice}}
                        </h5>
                    </div>


                    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                        <h6 class="address-heading">
                            Product type:
                        </h6>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
                        <h5 class="fw-normal">
                            {{selectedProduct.productCategory.type.typeName}}
                        </h5>
                    </div>

                    <button class="product-button gasb-bg-primary text-light shadow py-1" style="margin-top: 150px;" (click)="confirmOrder()"
                        *ngIf="!orderLoading;else orderLoader">ORDER</button>
                    <ng-template #orderLoader>
                        <button class="product-button gasb-bg-primary text-light shadow py-1"  style="margin-top: 150px;" [disabled]="true">
                            <i class="pi pi-spin pi-spinner"></i>
                        </button>
                    </ng-template>


                </div>
            </kendo-tilelayout-item-body>
        </kendo-tilelayout-item>
    </kendo-tilelayout>
    <p-dialog header="Add address" [modal]="true" [(visible)]="displayAddAddress" [style]="{width: '50vw'}">
        <form [formGroup]="addAddressForm">

            <div class="p-field mt-3 mb-4">
                <span class="p-float-label">
                    <input type="text" id="addressStreetName" pInputText class="w-100"
                        formControlName="addressStreetName">
                    <label for="addressStreetName">Street Name</label>
                </span>
            </div>
            <div class="p-field mb-4">
                <span class="p-float-label">
                    <input type="text" id="addressCity" pInputText class="w-100" formControlName="addressCity">
                    <label for="addressCity">Address city</label>
                </span>
            </div>
            <div class="p-field mb-4">
                <span class="p-float-label">
                    <input type="text" id="addressState" pInputText class="w-100" formControlName="addressState">
                    <label for="addressState">Address state</label>
                </span>
            </div>
            <div class="p-field mb-4">
                <span class="p-float-label">
                    <input type="text" id="addressCountry" pInputText class="w-100" formControlName="addressCountry">
                    <label for="addressCountry">Address country</label>
                </span>
            </div>
            <div class="p-field mb-4">
                <span class="p-float-label">
                    <input type="number" id="addressPincode" pInputText class="w-100" formControlName="addressPincode">
                    <label for="addressPincode">Address pincode</label>
                </span>
            </div>

        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" *ngIf="!addnewLoading;else loader" (click)="addNewAddress()" label="Add"
                styleClass="p-button-text">
            </p-button>
            <ng-template #loader>
                <p-button [disabled]="true" styleClass="p-button-text"><i class="pi pi-spin pi-spinner"></i></p-button>
            </ng-template>
        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

</div>

<ng-template #componentLoader>
    <p-progressBar mode="indeterminate" [style]="{'height': '4px', 'margin-top': '60px'}"></p-progressBar>
</ng-template>