<div class="container-fluid signup-container">
    <main class="form-signup shadow-lg mt-5 px-5">
        <form [formGroup]="signupForm">
            <h1 class="h3 mb-4 fw-normal">Register</h1>

            <div class="p-field mb-4">
                <span class="p-float-label">
                    <input type="text" id="username" pInputText class="w-100" formControlName="customerName">
                    <label for="username">Username</label>
                </span>
            </div>

            <div class="p-field mb-4">
                <span class="p-float-label">
                    <input type="tel" id="phone" pInputText class="w-100" formControlName="customerPhone">
                    <label for="phone">Phone number</label>
                </span>
            </div>

            <div class="p-field mb-4">
                <span class="p-float-label">
                    <input type="email" id="email" pInputText class="w-100" formControlName="customerEmail">
                    <label for="email">Email</label>
                </span>
            </div>

            <div class="p-field mb-4">
                <p-dropdown [options]="type" placeholder="Select a type"
                    optionLabel="typeName" formControlName="typeId" class="w-100" [showClear]="true"
                    [virtualScroll]="true"></p-dropdown>
            </div>

            <div class="p-field mb-4 p-float-label">
                <span class="p-inputgroup">
                    <input [type]="encryptPassword ? 'password' : 'text'" placeholder="Password" id="password"
                        pInputText class="w-100" formControlName="password">
                    <button type="button" (click)="passwordShow()" pButton pRipple
                        [icon]='encryptPassword ? "pi pi-eye" : "pi pi-eye-slash"' styleClass="p-button-warn"></button>
                </span>
            </div>

            <div class="p-field mb-5 p-float-label">
                <span class="p-inputgroup">
                    <input [type]="encryptConfirmPassword ? 'password' : 'text'" placeholder="Confirm Password"
                        id="cpassword" pInputText class="w-100" formControlName="cpassword">
                    <button type="button" (click)="confirmPasswordShow()" pButton pRipple
                        [icon]='encryptConfirmPassword ? "pi pi-eye" : "pi pi-eye-slash"'
                        styleClass="p-button-warn"></button>
                </span>
            </div>

            <button class="w-100 p-2 p-button-raised" *ngIf="!isLoading;else loader" pButton pRipple (click)="verifyAndSignup()"
            pTooltip="Signup" type="button" label="Sign up"></button>

            <a routerLink="/customer/login" style="float: right;">Already an User?</a>
            <ng-template #loader>
                <button class="w-100 p-2 p-button-raised" pButton pRipple type="button" [disabled]="true">
                    <i class="pi pi-spin pi-spinner"></i>
                </button>
            </ng-template>

        </form>
    </main>
</div>
<p-toast></p-toast>
