<app-navbar></app-navbar>

<ng-sidenav
  (collapsedEvent)="receiveCollapsed($event)"
  [adminMenuItems]="adminMenuItems"
  [employeeMenuItems]="employeeMenuItems"
></ng-sidenav>

<div  *ngIf="!progress; else progressLoader"  class="main-container"
[ngClass]="{ collapsed: collapedSideBar }">
  <br />
  <div class="row">
    <div class="col-md-6">
      <div
        class="card carder card-shadow"
        style="
          height: 20vh;
        "
      >
        <div class="job card-body">
          <p class="card-text " style="font-weight: bolder; text-align: center;">
            Total No.Of.Orders To Be Delivered
          </p>
          <h1
            class="card-text"
            style="font-weight: bolder; font-size: 50px; text-align: center"
          >
            {{ TotalOrders }}
          </h1>
        </div>
      </div>
      <br>
    </div>
    <div class="col-md-6">
      <div
        class="card carder card-shadow"
        style="
          height: 20vh;
        "
      >
        <div class="job card-body">
          <p class="card-text " style="font-weight: bolder; text-align: center;">
            Total No.Of.Orders Delivered
          </p>
          <h1
            class="card-text"
            style="font-weight: bolder; font-size: 50px; text-align: center"
          >
            {{ TotalDeliveryOrder }}
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
        <!-- <div class="col-md-2"></div> -->
        <div class="col-md-8">
          <table class="table table-hover   main-container ">
      <thead>
        <tr>
          <th scope="col">Profile</th>
          <th scope="col">CustomerName</th>
          <th scope="col">Product</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody *ngFor="let ordervalue of OrderList">
        <tr>
          <th>
            <img
              [src]="ordervalue.customer.customerImage"
              height="70"
              width="70"
              alt=""
            />
          </th>
          <td>{{ ordervalue.customer.customerName }}</td>
          <td>{{ ordervalue.filledProduct.productCategory.productName }}</td>
          <td>{{ ordervalue.orderDate | date }}</td>
        </tr>
      </tbody>
    </table>
        </div>
        <div class="col-md-4"></div>
    </div>
    </div>
</div>

<ng-template #progressLoader>
  <p-progressBar
    mode="indeterminate"
    [style]="{ height: '65px' }"
  ></p-progressBar>
</ng-template>


