<app-navbar></app-navbar>

<ng-sidenav
  (collapsedEvent)="receiveCollapsed($event)"
  [employeeMenuItems]="employeeMenuItems"
></ng-sidenav>

<div
  *ngIf="!progress; else progressLoader"
  class="main-container"
  [ngClass]="{ collapsed: collapedSideBar }"
>
  <div class="row text-center">
    <div class="col-md-4">
      <p-card>
        <h4 style="color: var(--theme)">Pending Orders</h4>
        <hr />

        <p-knob
          [(ngModel)]="TotalOrders"
          [readonly]="true"
          [size]="200"
        ></p-knob>
      </p-card>
      <br />
    </div>
    <div class="col-md-4">
      <p-card>
        <h4 style="color: var(--theme)">Delivered Orders</h4>
        <hr />
        <p-knob
          [(ngModel)]="TotalDeliveryOrder"
          [readonly]="true"
          [size]="200"
        ></p-knob>
      </p-card>
      <br />
    </div>
    <div class="col-md-4">
      <p-card [style]="{ width: '88%', height: '89%' }">
        <h4 style="color: var(--theme)">Total Orders</h4>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-9" [style]="{ width: '80%' }">
            <p-chart
              type="doughnut"
              [data]="data"
              [options]="chartOptions"
            ></p-chart>
          </div>
          <div class="col-md-2"></div>
        </div>
        <br />
      </p-card>
    </div>
  </div>
  <!-- <div class="row text-center">
    <div class="card">
      <h4 style="color: var(--theme)"></h4>
      <p-chart
        type="bar"
        [data]="basicData"
        [options]="horizontalOptions"
        [style]="{height:'300'}"
      ></p-chart>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h5 class="text-center" style="color: var(--theme); padding-left: 20px">
          Customers
        </h5>
        <p-chart
          type="line"
          [data]="basicData"
          [options]="basicOptions"
        ></p-chart>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h5 class="text-center" style="color: var(--theme); padding-left: 20px">
          Orders
        </h5>
        <p-chart
          type="line"
          [data]="basicData2"
          [options]="basicOptions"
        ></p-chart>
      </div>
    </div>
  </div>
</div>

<ng-template #progressLoader>
  <p-progressBar
    mode="indeterminate"
    [style]="{ height: '65px' }"
  ></p-progressBar>
</ng-template>
