<app-header></app-header>
<div class="container vh-100" style="margin-top: 70px;" *ngIf="!componentLoading;else componentLoader">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

  <kendo-tilelayout [columns]="4" [rowHeight]="230" [resizable]="false" [reorderable]="false">
    <kendo-tilelayout-item pTooltip="Other products" [col]="1" [colSpan]="1" [rowSpan]="2" class="shadow">
      <kendo-tilelayout-item-body>
        <div class="order-list">
          <div *ngFor="let otherProduct of otherProducts">
            <div class="contact">
              <img [src]="otherProduct.productImage" class="img-rounded img-responsive"
                style="max-height: 40px; border-radius: 50%">
              <div class="contact-details">
                <div class="contact-name">{{ otherProduct.productName }}</div>
                <div class="contact-email">₹ {{ otherProduct.productPrice }}</div>
              </div>
              <button class="k-button k-button-solid-primary k-button-solid-base messages-label"
                (click)="changeProduct( otherProduct.productId )">View</button>
            </div>
            <hr>
          </div>
        </div>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item [col]="2" [colSpan]="2" [rowSpan]="2" class="shadow">
      <kendo-tilelayout-item-body>
        <div class="row px-2">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <img [src]="product.productCategory.productImage" alt="product-image" width="100%" height="300px"
              style="border-radius: 10px;">
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12">
            <h6 class='address-heading'>
              Product name :
            </h6>
            <h6 class="h3 fw-normal">
              {{ product.productCategory.productName }}
            </h6>
            <br>
            <h6 class='address-heading'>
              Product weight :
            </h6>
            <h6 class="h4 fw-normal">{{ product.productCategory.productWeight }} kg</h6>
            <br>
            <h6 class='address-heading'>
              Product type :
            </h6>
            <h6 class="h4 fw-normal">{{ product.productCategory.type.typeName }}</h6>

          </div>
        </div>
        <br>
        <br>
        <div>
          <h6 class='address-heading'>
            Description :
          </h6>
          <h6 class="h6">The product {{ product.productCategory.productWeight }} kg {{
            product.productCategory.productName }} is a {{ product.productCategory.type.typeName }} product which cost ₹
            {{product.productCategory.productPrice}} including all tax. For more information contact {{ product.branch.branchName }} branch</h6>
        </div>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item pTooltip="Conversion Rate" [col]="4" class="shadow">
      <kendo-tilelayout-item-body>
        <h6 class='address-heading'>
          Product price :
        </h6>
        <div class="h5 fw-normal ">₹ {{ product.productCategory.productPrice }}</div>
        <h6 class='address-heading'>
          Product quantity :
        </h6>
        <div class="h5 fw-normal ">1</div>
        <button class="product-button gasb-bg-primary text-light shadow py-1"
          (click)="confirmOrder()" *ngIf="!orderLoading;else loader">ORDER</button>
        <!-- <button pButton pRipple class="gasb-bg-primary w-100 px-3" *ngIf="!orderLoading;else loader"
          style="margin-top: auto;" (click)="confirmOrder()" label="ORDER"></button> -->
        <ng-template #loader>
          <button class="product-button gasb-bg-primary text-light shadow py-1" [disabled]="true">
            <i class="pi pi-spin pi-spinner"></i>
          </button>
        </ng-template>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item pTooltip="Branch" [col]="4" class="shadow">
      <kendo-tilelayout-item-body>
        <h6 class='address-heading'>
          Branch name :
        </h6>
        <h5 class="fw-normal overflow-hidden" style="height: 40px;">
          {{ product.branch.branchName }}
        </h5>
        <h6 class='address-heading'>
          Branch location :
        </h6>
        <h5 class="fw-normal overflow-hidden" style="height: 40px;">
          {{ product.branch.branchLocation }}
        </h5>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
</div>

<ng-template #componentLoader>
  <p-progressBar mode="indeterminate" [style]="{'height': '4px', 'margin-top': '60px'}"></p-progressBar>
</ng-template>