<div class="container back-black">
    <br>
    <div class="row">
        <div class="col-md-3 text-center ">
            <p-card>
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>
            </p-card>
            <br>
            <p-card>
                Content
            </p-card>
        </div>
        <div class="col-md-9">
            <p-card>
<!--                 
<kendo-grid
[kendoGridBinding]="prod"
kendoGridSelectBy="id"
[pageSize]="7"
[pageable]="true"
[height]="500"
[columnMenu]="{ filter: true }"
>

<kendo-grid-column field="id" title="id" [width]="220">
</kendo-grid-column>
<kendo-grid-column field="seasonName" title="seasonName" [width]="220">
</kendo-grid-column>
<kendo-grid-column field="investAmount" title="investAmount" [width]="220">
</kendo-grid-column>
<kendo-grid-column field="productSpend" title="productSpend" [width]="220">
</kendo-grid-column>
<kendo-grid-column field="profitAmount" title="profitAmount" [width]="220">
</kendo-grid-column>
<kendo-grid-column field="lossAmount" title="lossAmount" [width]="220">
</kendo-grid-column>
<kendo-grid-column field="fertilizer.fertilName" title="fertilizer name" [width]="220">
</kendo-grid-column>
<kendo-grid-column field="pesticide.pestName" title="pesticide name" [width]="220">
</kendo-grid-column>
<kendo-grid-column field="user.fname" title="user" [width]="220">
</kendo-grid-column>
<kendo-grid-column field="crop.cropName" title="crop name" [width]="220">
</kendo-grid-column>

<kendo-grid-column field="id" title="" [width]="220">
    <ng-template kendoGridCellTemplate let-dataItem>
        <button class="btn btn-warning" (click)="updateme(dataItem)"> 
            Edit
        </button> &nbsp;
        <button class="btn btn-danger" (click)="deleteme(dataItem)"> 
            Delete
        </button> 
    </ng-template>
</kendo-grid-column>

</kendo-grid> -->
            </p-card>
        </div>
    </div>
    <br>
</div>