<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-4"> 
        <p-card class="p-card p-shadow">
            good morning
        </p-card><br>
    </div>
    <div class="col-md-2">
        <p-card>
            good chart
        </p-card><br>
    </div>
    <div class="col-md-2">
        <p-card>
            good
        </p-card><br>
    </div>
        <div class="col-md-4">
            <p-card>
                good morning
            </p-card><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p-card>
                good morning
            </p-card><br>
        </div>
        <div class="col-md-6">
            <p-card>
                good
            </p-card><br>
        </div>
    </div>
</div>