<app-navbar></app-navbar>

<ng-sidenav
  (collapsedEvent)="receiveCollapsed($event)"
  [adminMenuItems]="adminMenuItems"
></ng-sidenav>

<div
  [ngClass]="{ collapsed: collapedSideBar }"
  class="main-container"
  *ngIf="!componentLoading; else progresloading"
>
  <div class="row mt-3">
    <div class="col-lg-3" *ngFor="let request of CustomerRequest">
      <p-card class="my-3 shadow">
        <div class="row">
          <div class="col-md-3">
            <img
              [src]="request.customerImage"
              height="70"
              class="borderc"
              width="70"
              alt=""
            />
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
            Name: <b>{{ request.customerName }}</b
            ><br />
            Phone: {{ request.customerPhone }}<br />
            Raised request : <span style="font-size: 20px">1</span>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <hr />
          <div class="row">
            <div class="col-md-6">
              <button *ngIf="isLoadingDeclined != request.customerId; else declinedLoading"
                pButton
                style="background-color: #ff618b; width: 100%"
                type="button"
                label="Decline"
                (click)="this.RejectRequest(request.customerId)"
              ></button>
            </div>
            <div class="col-md-6">
              <button *ngIf="isLoadingAccept != request.customerId; else acceptLoading"
              pButton
                style="background-color: #28c9a4; width: 100%"
                type="button"
                label="Accept"
                (click)="this.AcceptRequest(request.customerId)"
              ></button>
            </div>
          </div>
        </ng-template>
      </p-card>
      <ng-template #declinedLoading>
        <button
          pButton
          style="background-color: #ff618b; width: 100%"
          type="button"
          [disabled]="true"          
        ><span class="pi pi-spin pi-spinner"></span></button>
      </ng-template>
      
      <ng-template #acceptLoading>
        <button
          pButton
          style="background-color: #28c9a4; width: 100%"
          type="button"
          [disabled]="true"
          ><span class="pi pi-spin pi-spinner"></span></button>
      </ng-template>

      <br />
    </div>
  </div>
</div>
<ng-template #progresloading>
  <br />
  <p-progressBar
    mode="indeterminate"
    [style]="{ height: '35px' }"
  ></p-progressBar>
</ng-template>
