
  <p-menubar class="fixed-top ">  
      <a  id="logo" class="navbar-brand mx-5 fw-bolder h1" style="color: #ff6358;" routerLink="/customer/dashboard"> Admin GasB360</a>
        <p-menubar [model]="items"></p-menubar>
    </p-menubar>
    

   <!-- <nav class="navbar navbar-light bg-dark">
    <a  id="logo" class="navbar-brand mx-5 fw-bolder h1" style="color: #ff6358;" routerLink="/customer/dashboard"> Admin GasB360</a>
<form class="form-inline">
  <span id="rightlogo">
    <p-menubar [model]="items"></p-menubar>
  </span>
</form>
  </nav> -->