<!-- 
  <p-menubar class="fixed-top ">  
      <a  id="logo" class="navbar-brand mx-5 fw-bolder h1" style="color: #6280ff;" routerLink="/customer/dashboard"> Admin GasB360</a>
        <p-menubar [model]="items"></p-menubar>
    </p-menubar>
     -->

    <nav
    class="navbar navbar-expand-lg fixed-top w-100"
    style="background-color: #6280ff"
  >
  <!-- <a  id="logo" class="navbar-brand mx-5 fw-bolder h1" style="color: #6280ff;" routerLink="/admin/dashboard"> Admin GasB360</a> -->
    <span class="navbar-brand mx-3 fw-bolder " routerLink="">Admin GasB360</span>
  </nav>